<!-- あとでつける機能 -->
<!-- <body>
  <div class="content-wrapper container">
    <div class="contents row">
      <div class="left-block col-5">
        <div class="user">
          <div class="user-profile row">
            <div class="user-icon col-4">

            </div>
            <div class="user name col-8">
                <p>user_name</p>
                <p>mail@gmail.com</p>
            </div>
          </div>
          <div class="user-nunberOf row">
            <div class="good col-4">
              <p>tweet</p>
              <div class="good-number">

              </div>
            </div>
            <div class="follow col-4">
              <p>フォロー</p>
              <div class="follow-number">

              </div>
            </div>
            <div class="follower col-4">
              <p>フォロワー</p>
              <div class="follower-number">

              </div>
            </div>
          </div>
        </div>
        <div class="tweet">
          <p>今何してる？</p>
          <textarea name="content"></textarea>
          <p><input type="submit" value="tweet"></p>
        </div>
      </div>
      <div class="timeline-block col-7">
        <div class="timeline">

        </div>
      </div>
    </div>

  </div>
</body> -->

<div class="main top-main">
  <div class="top-message">
    <h2>Twitter-mimicへ</h2>
    <h2>ようこそ！</h2>
    <h2></h2>
    <h3>公用ログインパスワード</h3>
    <h3>mail: so2@mail.com</h3>
    <h3>pass: so2pass</h3>
  </div>
</div>
