// Place all the styles related to the dms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-dm {
  position: fixed;
  top: 150px;
  left: 20px;
  background-color: pink;
  padding: 5px;
  
  height: auto;
  width: auto;
}

.new-dm a{
  font-size: 50px
}
